# blscfg only for BIOS (EFI stub already runs it)
if [ "$grub_platform" != "efi" ]; then
  source ${config_directory}/bootuuid.cfg
  if [ -n "${BOOT_UUID}" ]; then
    search --fs-uuid "${BOOT_UUID}" --set boot --no-floppy
  else
    search --file /boot/grub/grub.cfg --set boot --no-floppy
  fi
  set root=$boot
  set default=0
  blscfg --path /boot/loader/entries --enable-fallback
  set timeout=4
  set timeout_style=menu
fi