# Based on Fedora's grub-static-pre.cfg approach
# https://github.com/coreos/coreos-assembler

if [ -f ${config_directory}/bootuuid.cfg ]; then
  source ${config_directory}/bootuuid.cfg
fi
if [ -n "${BOOT_UUID}" ]; then
  search --fs-uuid "${BOOT_UUID}" --set boot --no-floppy
else
  search --file /boot/grub/grub.cfg --set boot --no-floppy
fi
set root=$boot
set prefix=($boot)/grub2
blscfg --path /boot/loader/entries --enable-fallback
set default=0
set timeout=4
set timeout_style=menu
boot