# btrfs subvolume handling: bootc/ostree deployments live in the @ subvolume
set btrfs_subvol=@
set btrfs_relative_path=y
search --file /boot/grub/grub.cfg --set boot1 --no-floppy
if [ -n "$boot1" ]; then
  set root=$boot1
  set prefix=($boot1)/boot/grub
  blscfg --path /boot/loader/entries --enable-fallback
  set default=0
  set timeout=4
  set timeout_style=menu
else
  search --file /grub/grub.cfg --set boot0 --no-floppy
  if [ -n "$boot0" ]; then
    set root=$boot0
    set prefix=($boot0)/grub
    blscfg --enable-fallback
    set default=0
    set timeout=4
    set timeout_style=menu
  fi
fi
boot